aiohttp
art==6.1
async-timeout >= 3.0
discord.py ~= 2.3.2
emoji >= 2.0
feedparser >= 6.0
gitpython >= 3.1.8
lrfutils == 0.1.2
numpy
packaging
psutil
python-i18n
python-twitter >= 3.5
pyyaml